/* Body */
	body {
		background: #A52A2A url(../images/BG.jpg) repeat-x;
		}

/* Wrap */
	#wrap {
		width: 700px;
		margin: 0px auto 15px auto;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #F5F5DC;
		}

/* Content */
	#content {
		width 700px;
		}


/* Header */
	#header {
		height: 200px
		background: url(../images/Header.png) no-repeat left top;
		clear: both;
		}

	#topbar {
		height: 80px;
		}

/* Header Menu */
	#topmenu {
		display: block;
		list-style: none;
		padding: 25px 50px 25px 150px;
		float: right;
		max-width: 700px;
		}

	#topmenu li {
		display: inline;
		}

	#topmenu a {
		display: block;
		float: left;
		height: 30px;
		margin: 0px 0pc 0px 0px;
		text-decoration: none;
		padding: 10px 15px 0px 15px;
		text-align: center;
		}

	#topmenu a, #topmenu a:visited, #topmenu a: active {
		color: #FFFFFF
		}

	#topmenu a:hover {
		color: #EEE8AA
		background-color: #2F4F4F;
		}

	#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active{
		color: #FAFAD2;
		background-color: #008B8B;
		}

/* Footer */
	#footer {
		color:"#8A2BE2"
		}

/* Image */
	img {
		margin: 25px;
		height: auto;
		width: auto;
		max-width: 350px;
		max-height: 350px;
		}

/* box-sizing: border-box; on all elements */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}