/* Body */
	body {
		background: #A52A2A url(../images/BG.jpg) repeat-x;
		}

/* Wrap */
	#wrap  {
		width: 500px;
		margin: 0px auto 15px auto;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #666666;
		}

/* Header */
	#header {
		height: 500px
		background: url(../images/Header.png) no-repeat left top;
/*
		margin: 0px auto 15px auto;
		font-family: Verdana, Arial, Helvetica, Sans-Serif;
		color: #F5F5DC;
*/
		}

	#topbar {
		height: 78px;
		}

/* Header Menu */
	#topmenu {
		display: block;
		list-style: none;
		padding: 0px 0px 0px 278px;
		float: right;
		max-width: 415px;
		}

	#topmenu li {
		display: inline;
		}

	#topmenu a {
		display: block;
		float: left;
		height: 28px;
		margin: 0px 0pc 0px 0px;
		text-decoration: none;
		padding: 9px 15px 0px 15px;
		text-align: center;
		}

	#topmenu a, #topmenu a:visited, #topmenu a: active {
		color: #FFFFFF
		}

	#topmenu a:hover {
		color: #FFFFFF
		background-color: #6495ED;
		}

	#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active{
		color: #FFFFFF;
		background-color: #008B8B;
		}

/* box-sizing: border-box; on all elements */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}